
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: var(--font-sans);
    font-weight: 300;
}

/* Fixed viewport frame */
.frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    box-sizing: border-box;
    border: 20px solid var(--color-divider);
    background: transparent;
    
    pointer-events: none;
    z-index: 99;
}

.intro-meta {
    color:#949494;
    margin: 0;
}

.intro-title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.intro-description {
  font-size: var(--type-lg);
  font-weight: 200;
}

.stack-group {
  display: inline-flex;
}

.stack {
  display: inline;
  font-family: var(--font-sans);
  font-size: var(--type-hero);
  font-weight: 900;
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight);
  position: relative;
  z-index: 1;
}

.stack-group + .stack-group {
  margin-left: 0.5ch; /* real word space */
}

.accent-stack {
  font-family: var(--font-serif-text);
  font-size: var(--type-hero-accent);
  font-style: italic;
  font-weight: 400;
  color: #ff4f87;

  line-height: var(--lh-normal);
  letter-spacing: var(--ls-script);
  margin-right: 15px;
  margin-top: -32px;
  padding-left: 4px;
  z-index: 2;
}




/* Vertical Containers */

.intro-stage {
  min-height: calc(100svh - (var(--frame-pad) * 2));
  padding: var(--main-pad);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-top {
    padding-bottom: 80px;
    margin:0;
}

.intro-middle {
  max-width: 1000px;
}

.intro-mark {
    display: grid;
    justify-content: end;
}

.intro__logo {
  width: 150px;
  height: auto;
}


/* Components */

/* PRIMARY BUTTON */
.primary-btn {
  display: inline-block;
  appearance: none;
  background-color: var(--color-primary);
  border: 0;
  padding: 12px 48px;
  margin: 10px 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text-contrast);
  font-family: var(--font-serif);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.primary-btn:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 3px;
  background-color: #fff;
  color: #000;
}

.primary-btn:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 1px 2.4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .frame {
    border: 12px solid var(--color-divider);
  }

  .intro-stage {
    padding: 30px;
  }

  .intro-middle {
    gap: 32px;
  }

  .intro-title {
    flex-direction: column;
  }

  .stack {
    /*font-size: 100px;*/
    font-size: 90px;
  }

  .stack-group {
    flex-direction: column;
  }

  .accent-stack {
    font-size: 65px;
    line-height: 1.3;
  }

  .intro-description {
    max-width: 30ch;
  }

  .primary-btn {
    width: 100%;
    text-align: center;
  }

  .intro-bottom img {
    display: none;
  }

}