/* Adding color themes: Look at https://angieswebdesign.github.io/shared/css/global-tokens.css (working examples) of multiple color themes */

:root {
  
/* =========================
   TYPOGRAPHY
========================= */
  
  /* Font families */
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: "DM Serif Display", Georgia, serif;
  --font-serif-text: "DM Serif Text", serif; /* Scope: font-weight: regular(400); font-style: normal, italic; (Added by AW 030226 @2:40pm) */

  /* ===== TYPE SCALE ===== */

  --type-xl: 64px;
  --type-lg: 22px;
  --type-md: 16px;
  --type-sm: 14px;

  --type-h1: 48px;
  --type-h2: 36px;
  --type-h3: 28px;

  /* line heights */
  --lh-tight: 0.85;
  --lh-normal: 1.25;
  --lh-body: 1.5;
  
  /* letter spacing */
  --ls-tight: -0.02em;
  --ls-script: -0.04em;

    /* Breakpoint */
  --bp-stack: 480px;

/* =========================
   STAGE DEFENITIONS
========================= */

  --header-height: 125px;        /* AWD sticky header height */
  --frame-thickness: calc(var(--frame-pad) * 2); 
  --stage-height: calc(
    100svh
    - var(--header-height)
    - var(--frame-thickness)
  );

/* =========================
   LAYOUT
========================= */
  --frame-pad: 20px;
  /*--main-pad: clamp(32px, 4vw, 64px);*/
  --main-pad: clamp(32px, 4vw, 64px);
  --container-max: 1100px;
  --gap-1: 12px;
  --gap-2: 20px;
  --gap-3: 30px;
  --gap-4: 50px;
  --gap-5: 200px;

  --header-min: 64px;

/* =========================
   OVERLAY
========================= */
  /* Overlay */
  --overlay-bg: rgba(42, 41, 41, 0.8);
  --overlay-triangle-bg: rgba(0, 0, 0, 0.35);
  --overlay-pad: 20px;
  --overlay-col2-min: 450px;

  /* Overlay animation */
  --overlay-triangle-enter-duration: 140ms;
  --overlay-triangle-enter-ease: cubic-bezier(0.2, 0.8, 0.2, 1);
  --overlay-panel-enter-delay: 140ms;
  --overlay-panel-enter-duration: 180ms;


}



/* =========================
   RESPONSIVE TOKENS
========================= */

@media (max-width: 768px) {
  /* Mobile Behavior for System Headings (Proportional scale) */
  :root {
    --frame-pad: 12px;
    --type-xl: 42px;
    --type-h1: 36px;
    --type-h2: 28px;
    --type-lg: 20px;
  }
}